@using TexnoStore.Models.Users

@{
	Layout = null;
}

@model UserViewModel


<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="~/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/css/main.css">
</head>
<body>
	
	<div class="limiter" >
		<div class="container-login100" style="background-image: url(~/img/bt-ndsf);">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-1 p-b-1">
				<form class="login100-form validate-form flex-sb flex-w" asp-action="Complete" asp-controller="Account" method="post">
					<div class="p-t-13 p-b-9">
						<span class="txt1">
							Confirm Password
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" placeholder="password" type="password" tabindex="7" asp-for="@Model.ConfirmPassword" required>
						<span class="focus-input100"></span>
					</div>
					<span style="color:red;font-size:15px">@ViewBag.Error1</span>
					<div class="container-login100-form-btn m-t-37">
						<input type="submit" class="login100-form-btn" value="Complete"/> 
					</div>

					<div class="w-full text-center p-t-15">
						<a href="/Account/RepeatSend" class="txt2 bo1">
							You did not receive a password?
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

</body>
</html>