
@{
    Layout = null;
}

@{
    ViewData["Title"] = "Reset Password Confirmation";
}

@*<h1>Reset Password Confirmation</h1>*@

<link href="~/css/ResetConfirm.css" rel='stylesheet'/>

<body>
    <div>
        <img src="~/img/success.png" />
        Password has been reset succesfully. Please <a asp-controller="Account" asp-action="Index">Login</a>
    </div>
</body>
