@using TexnoStore.Models.Checkout

@model CheckoutViewModel
<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>
						<form id="order" asp-action="Order" asp-controller="CheckOut">
								<input asp-for="ShopCart.ShopCartModels" hidden/>
								<div class="form-group">
									<input asp-for="OrderDetails.Name" id="stdName" class="input" type="text" placeholder="First Name" required>
								</div>
								<div class="form-group">
									<input asp-for="OrderDetails.LastName" id="stdLastName" class="input" type="text" placeholder="Last Name" required>
								</div>
								<div class="form-group">
									<input asp-for="OrderDetails.Email" id="stdEmail" class="input" type="email" placeholder="Email" required>
								</div>
								<div class="form-group">
									<input asp-for="OrderDetails.Adress" id="stdAddress" class="input" type="text" placeholder="Address" required>
								</div>
								<div class="form-group">
									<input asp-for="OrderDetails.City" id="stdCity" class="input" type="text" placeholder="City" required>
								</div>
								<div class="form-group">
									<input asp-for="OrderDetails.Country" id="stdCountry" class="input" type="text" placeholder="Country" required>
								</div>
								<div class="form-group">
									<input asp-for="OrderDetails.ZipCode" id="stdZipCode" class="input" type="text" placeholder="ZIP Code" required>
								</div>
								<div class="form-group">
									<input asp-for="OrderDetails.Telephone" id="stdTel" class="input" type="tel" placeholder="Telephone" >
								</div>
								<div class="order-notes">
									<input type="text" asp-for="OrderDetails.OrderNotes" class="input" placeholder="Order Notes"/>
								</div>
						</form>
							
						</div>
						<!-- /Billing Details -->

						
						<!-- /Shiping Details -->

						<!-- Order notes -->
						
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products">
								@{
									foreach(var item in Model.ShopCart.ShopCartModels)
									{
										<div class="order-col">
											<div>@item.Count x @item.Name</div>
											<div>$@item.Price.00</div>
										</div>
									}
								}
							</div>
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">$@Model.ShopCart.ShopCartPrice.00</strong></div>
							</div>
						</div>
						<div class="payment-method">
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-1">
								<label for="payment-1">
									<span></span>
									Direct Bank Transfer
								</label>
								<div class="caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-2">
								<label for="payment-2">
									<span></span>
									Cheque Payment
								</label>
								<div class="caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-3">
								<label for="payment-3">
									<span></span>
									Paypal System
								</label>
								<div class="caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
						</div>
						<div class="input-checkbox">
							<input type="checkbox" id="terms" required>
							<label for="terms">
								<span></span>
								I've read and accept the <a href="#">terms & conditions</a>
							</label>
						</div>
						<input form="order" type="submit" class="primary-btn order-submit" value="Place order"  />
					</div>
					<!-- /Order Details -->
				</div>
				
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>


		@*<script>
			function BtnClick()
			{
				var name=$("#stdName").val();
				var lastname=$("#stdLastName").val();
				var email=$("#stdEmail").val();
				var address=$("#stdAddress").val();
				var city =$("#stdCity").val();
				var country =$("#stdCountry").val();
				var zipcode =$("#stdZipCode").val();
				var tel = $("#stdTel").val();
				var obj ={
					OrderDetails
					{
						Name:name,
						LastNam:lastname,
						Email:email,
						Address:address,
						City:city,
						Country:country,
						ZipCode:zipcode,
						Tel:tel
					}
				}

				SubmitForm(obj);
			}
			function SubmitForm(obj){
				$.ajax({
					url:"/CheckOut/Order",
					method :"POST",
					data:obj,
					success:function(data){
						$('#TempData').text(data);
					},
					error: function(err)
					{
						console.error(err);
					}
				})
												
			}
		</script>*@